// Theses are the Overrides of Bootstrap Sass Variables locatted in boostrap/_variables
$brand-primary: #009645;
//Home 
$home-page-title-text: #fff;
$home-page-main-title-color: #fff;
// Footer
$footer-bg-color: #f5f5f5;
$footer-text-color: #717171;
// Sub footer
$sub-footer-color: #E4E4E4;
// Navbar
$navbar-height: 66px;
$navbar-inverse-bg: #fff;
$navbar-inverse-color: #000;
$navbar-text-color: #000;
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/lato-regular/Lato-regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/lato-regular/Lato-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/lato-regular/Lato-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/lato-regular/Lato-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/lato-regular/Lato-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/lato-regular/Lato-regular.svg') format('svg'); /* Legacy iOS */
}
// Fonts 
$font-family-sans-serif:  'Lato', Arial, sans-serif !default;
// Home page gradient
$jumbotron-top-color: #000;
$jumbotron-bottom-color: $brand-primary;
// Breadcrumb Default background colour.
$breadcrumb-background-color: $brand-primary !default;
// Jumbotron Settings
$jumbotron-height: 400px;
$overlay: 0.5;
$jumbotron-font-size-xs: 26px;
$jumbotron-font-size: 32px;
$jumbotron-heading-color: #fff !default;
$jumbotron-sub-title-font-size-xs: 16px;
$jumbotron-sub-title-font-size: 18px;
$jumbotron-sub-title-color: #fff !default;